<input type="hidden" id="cid" name="cid" value="$!catData.id">

<div id="content" class="site-content">
    <section class="custom-page-header">
        <div class="container">
            <div class="ui small breadcrumb">
                <a class="section">Home</a>
                <i class="right angle right icon divider"></i>
                <a class="section">Category</a>
                #if($parentCategoryName)
                <i class="right angle right icon divider"></i>
                <a class="section" href="$!{domainName}category/$!{parentCategoryName}">$!parentCategoryName</a>
                <i class="right angle right icon divider"></i>
                <div class="active section">$!catData.name</div>
                #else
                <i class="right angle right icon divider"></i>
                <div class="active section">$!catData.name</div>
                #end
            </div>
            <div class="inner shadow-box">
                <div class="inner-content clearfix">
                    <div class="header-thumb">
                        <div class="ui center aligned icon">
                            <i class="circular car icon"></i> 
                            <!-- <img src="$!{domainName}assets/images/clothing_icon.png" alt=""> -->
                        </div>
                    </div>
                    <div class="header-content">
                        <h1><strong>$!catData.name </strong>Coupon and Deals</h1>
                        <p>We'll let you in on the top-secret spots to score the biggest deals on all your apparel needs. Simply use <br>the holiday coupon codes on this page and save on the fabulous fashion that shows you’ve got style.</p>
                        <div class="entry-share">
                            <div class="social-likes social-likes_single" data-single-title="Share">
                                <div class="facebook" title="Share link on Facebook">Facebook</div>
                                <div class="twitter" title="Share link on Twitter">Twitter</div>
                                <div class="plusone" title="Share link on Google+">Google+</div>
                                <div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
                            </div>
                            <div class="social-likes">
                                <div class="facebook" title="Share link on Facebook">Facebook</div>
                                <div class="twitter" title="Share link on Twitter">Twitter</div>
                                <div class="plusone" title="Share link on Google+">Google+</div>
                                <div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="content-wrap" class="container right-sidebar">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">

				<section class="coupon-filter">
                    <div class="ui pointing fluid three item menu">
                        <a class="active item filter-nav">All <span class="offer-count">$!totalCount</span></a>
                        <a class="item filter-nav">Codes <span class="offer-count code-count">$!CODE</span></a>
                        <a class="item filter-nav">Deals <span class="offer-count sale-count">$!DEAL</span></a>
                    </div>
                </section>
                <section id="store-listings-wrapper" class="wpb_content_element">
                    <!-- <h2 class="section-heading">Current Top $!catData.name Coupons</h2> -->
                    <div class="store-listings">
                    </div>						
                </section>
                <div class="load-more wpb_content_element">
                    <a href="#" id="loadCatCoupons" class="ui button btn btn_primary btn_large">Load More $!catData.name Coupons <i class="arrow circle outline down icon"></i></a>
                </div>

            </main><!-- #main -->
        </div><!-- #primary -->

        <div id="secondary" class="widget-area sidebar">
			#popularStores()
			#popularCategories()
			#newsletter()
            #advertisement()
        </div><!-- #secondary -->
        #mostViewedCategories()
        <div class="after-content-ads ads-area">
            <div class="ui horizontal divider">Advertisement</div>
            <a href="#"><img src="$!{domainName}assets/images/1030.jpg" alt=""></a>
        </div>
    </div> <!-- /#content-wrap -->
</div> <!-- END .site-content -->
