<div id="content" class="site-content">

    <div id="content-wrap" class="container no-sidebar user-page">

        <div id="primary" class="content-area">
            <main id="main" class="site-main">

                <div class="stuser-wrapper st-profile-wrapper" data-ajax-load="false" data-action="profile-template">    <div class="st-profile-wrapper stuser-form-profile">

                    <div class="stuser-form-header">
                        <div id="st-profile-cover" data-change="false" class="st-profile-cover coppic" data-cover=""></div>

                        <div class="st-profile-meta clear-fix">
                            <div data-change="false" style="" data-cover="" class="st-profile-avatar coppic"></div>

                            <div class="st-profile-meta-info">
                                <span class="st-display-name">Eric Mayer</span>
                                <div class="list-meta-info">
                                    <span class="user-country"><i class="icon world"></i>England</span>
                                    <span class="user-join-date"><i class="icon calendar"></i>Joined June 22, 2015</span>
                                </div>
                            </div>

                            <div class="st-user-socials">
                                <a href="#f" class="ui circular facebook icon button">
                                    <i class="facebook icon"></i>
                                </a>
                                <a href="#t" class="ui circular twitter icon button">
                                    <i class="twitter icon"></i>
                                </a>
                                <a href="#g" class="ui circular google plus icon button">
                                    <i class="google plus icon"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="stuser-form-body clear-fix">
                        <ul class="stuser-form-sidebar">
                            <li class="active"><a class="st-profile-link" href="user_dashboard.html">Dashboard</a></li>
                            <li class=""><a class="st-profile-link" href="user_saved_coupons.html">Saved Coupons</a></li>
                            <li class=""><a class="st-profile-link" href="user_favorites_stores.html">Favorites Stores</a></li>
                            <li class=""><a class="st-edit-link" href="user_edit.html">Profile</a></li>
                        </ul><!-- stuser-form-sidebar -->


                        <div class="stuser-form-profile clear-fix">
                        </div><!-- /.stuser-form-profile -->
                    </div>
                </div>

                </div>

            </main><!-- #main -->
        </div><!-- #primary -->

    </div> <!-- /#content-wrap -->

</div> <!-- END .site-content -->
