    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="inner">
                <div class="stackable doubling ui grid">
                    <div class="six wide column">
                        <aside class="widget">
                            <div class="widget_content">
                                <p><a href="#"><img src="$!{domainName}assets/images/logo.png" alt=""></a></p>
                            </div>
                        </aside>
                    </div>
                    <div class="three wide column">
                        <aside class="widget widget_nav_menu">
                            <h4 class="widget_heading">Company</h4>
                            <div class="widget_content">
                                <ul>
                                    <li><a href="#">Our History</a></li>
                                    <li><a href="#">Vision</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="three wide column">
                        <aside class="widget widget_nav_menu">
                            <h4 class="widget_heading">Get Help</h4>
                            <div class="widget_content">
                                <ul>
                                    <li><a href="#">Support Forum</a></li>
                                    <li><a href="#">How to Use</a></li>
                                    <li><a href="#">Discounts Guide</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="four wide column">
                        <aside class="widget">
                            <h4 class="widget_heading">Subscribe to Deal70</h4>
                            <div class="newsletter-box-wrapper">
                                <form id="newsletter-box">
                                    <div class="ui action left icon input">
                                        <input placeholder="Enter your email ..." type="text">
                                        <i class="mail outline icon"></i>
                                        <div class="ui button">Submit</div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="newsletter-text">You can opt out of our newsletters at any time. See our <a href="#">privacy policy</a>.</div>
                                </form>
                            </div>
                        </aside>
                        <aside class="widget">
                            <div class="footer-social">
                                <div class="sidebar-social">
                                    <a class="ui circular icon button"><i class="facebook icon"></i></a>
                                    <a class="ui circular icon button"><i class="twitter icon"></i></a>
                                    <a class="ui circular icon button"><i class="linkedin icon"></i></a>
                                    <a class="ui circular icon button"><i class="google plus icon"></i></a>
                                    <a class="ui circular icon button"><i class="youtube play icon"></i></a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>

            <div class="footer_copy">
                <p>Copyright &copy; Deal70. All Rights Reserved. Template by <a href="http://www.smooththemes.com">SmoothThemes</a></p>
                <nav id="footer-nav" class="site-footer-nav">
                    <ul>
                        <li><a href="#">Welcome</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">License</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer><!-- END #colophon-->

</div><!-- END #page -->

<!-- Footer JS -->
<script src="$!{domainName}assets/js/config.js"></script>

<script src="$!{domainName}assets/js/libs.js"></script>
<script src="$!{domainName}assets/js/libs/semantic.min.js"></script>
<script src="$!{domainName}assets/js/libs/owl.carousel.js"></script>
<script src="$!{domainName}assets/js/global.js"></script>

<script src="$!{domainName}assets/ST-User/js/user.js"></script>

#includeUtilitiesJs()