<!DOCTYPE html>
<html lang="en-US">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
		#set ($pageTitle="Home")
	
	    <!-- Mobile Specific
	    ========================================================================= -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	    <!-- Title Tag
	    ========================================================================= -->
	    <title>WP Coupon - An Advanded Coupon Codes and Deals Template</title>
	
	    <!-- Browser Specical Files
	    ========================================================================= -->
	    <!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	
	    <!-- Site Favicon
	    ========================================================================= -->
	    <link rel="shortcut icon" href="#" title="Favicon" />
	
	    <!-- WP HEAD
	    ========================================================================= -->
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	
	    <link rel="stylesheet" href="$!{domainName}assets/css/semantic.min.css">
	    <link rel="stylesheet" href="$!{domainName}style.css">
	
	    <!-- Header JS -->
	    <script src="$!{domainName}assets/js/jquery-1.11.1.min.js"></script>
	
	    <script src="$!{domainName}js/deal70.js"></script>
	    <script src="$!{domainName}js/jquery.timeago.js"></script>
	    
	
	    <!-- PLUGIN CSS -->
	
	    <link rel="stylesheet" href="$!{domainName}assets/ST-User/css/style.css">
	
		<style>
			/* line 15, assets/sass/_elements.scss */
			.primary-header {
			  padding: 18px 0px;
			  background: #47A987;
			  color: rgba(255, 255, 255, 0.6);
			}
		</style>
		
	</head>
	<body>
		#if($showHeader)
			#parse("header.vm")
		#end
		#parse($body)
		#parse("footer.vm")
		<input type="hidden" id="domainName" name="domainName" value="$!domainName">
		<script>
			#if ($pageTitle)
				#set ($singleLineTitle = $Formatter.makeSingleLine($pageTitle))
				document.title = "$productName - $Utilities.escapeForJavascript($!{singleLineTitle})";
			#end
		</script>
	</body>
</html>