<div id="page" class="hfeed site">
    <header id="masthead" class="ui page site-header">
        <div class="primary-header">
            <div class="container">
                <div class="logo_area fleft">
                    <a href="$!{domainName}" rel="home">
                        <img src="$!{domainName}assets/images/logo.png" alt="Site Logo">
                    </a>
                </div>
                <div class="header-highlight fleft" style="display:none">
                    <a href="#">
                        <div class="highlight-icon"><i class="fire icon"></i></div>
                        <div class="highlight-text">Heating Up</div>
                    </a>
                    <a href="#">
                        <div class="highlight-icon"><i class="shop icon"></i></div>
                        <div class="highlight-text">Free Shipping</div>
                    </a>
                    <a href="#">
                        <div class="highlight-icon"><i class="tags icon"></i></div>
                        <div class="highlight-text">Black Friday</div>
                    </a>
                </div>
                <div class="header_right fright">
                    <form id="header-search">
                        <div class="header-search-input ui search large action left icon input">
                            <input class="prompt" placeholder="Search stores for coupons, deals ..." type="text">
                            <i class="search icon"></i>
                            <div class="header-search-submit ui button">Search</div>
                            <div class="results"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="search-sample"><span>Top Searches:</span> <a href="#">Athletefor</a>,  <a href="#">Kmart</a>,  <a href="#">Macy’s</a>,  <a href="#">SmoothThemes</a>,  <a href="#">ThemeForest</a> ...</div>
                    </form>
                </div>
            </div>
        </div> <!-- END .header -->

        <div class="site-navigation">
            <div class="container">
                <nav class="primary-navigation clearfix fleft">
                    <a href="#content" class="screen-reader-text skip-link">Skip to content</a>
                    <div id="nav-toggle"><i class="content icon"></i></div>
                    <ul class="st-menu wpc-menu">
                        <li class="menu-item-has-children"><a href="#"><i class="unordered list icon"></i> Browse Coupons</a>
                            <div class="nav-toggle-subarrow"><i class="plus icon"></i></div>
                            <ul class="sub-menu">
                                <li><a href="category_az.html">Browse by Categories</a></li>
                                <li><a href="store_az.html">Browse by Stores</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="${servletPageWithAction}stores">Stores</a>
                            <div class="nav-toggle-subarrow"><i class="plus icon"></i></div>
                            <ul class="sub-menu">
                                <li><a href="/store?id=">Store Single</a></li>
                                <li><a href="/store?id=">Stores Index A-Z</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Categories</a>
                            <div class="nav-toggle-subarrow"><i class="plus icon"></i></div>
                            <ul class="sub-menu">
                                <li><a href="category.html">Category Single</a></li>
                                <li><a href="category_az.html">Category A-Z Index</a></li>
                            </ul>
                        </li>
                        <!-- <li class=""><a href="#"><i class="student icon"></i> Back To School</a></li> -->
                        <li class="">
                            <a href="page.html">Pages</a>
                            <ul>
                                <li><a href="page.html">Single</a></li>
                                <li class=""><a href="blog.html">Blog</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="page_submit.html"><i class="edit icon"></i> Submit Coupon</a>
                            <ul>
                                <li class=""><a href="page_submit.html">Header Normal</a></li>
                                <li class=""><a href="page_submit_header_cover.html">Header With Cover</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav> <!-- END .primary-navigation -->

                <div class="nav-user-action fright clearfix">
                    <ul class="st-menu wpc-menu">
                        <li class=""><a href="#"><i class="empty star icon"></i> <span class="hide-on-tiny">Saved</span></a>
                            <div class="menu-box">
                                <h4 class="menu-box-title">Recently Saved Coupons</h4>
                                <div class="saved-coupons">
                                    <div class="saved-coupon clearfix">
                                        <div class="store-$!{domainName}thumb">
                                            <a href="single_store.html" class="">
                                                <img src="$!{domainName}thumb/stores/udemy.png" alt="">
                                            </a>
                                        </div>
                                        <div class="coupon-text">
                                            <a href="single_store.html">Up To 60% Off: Shop Electronics Coupons </a>
                                            <span class="exp-text">Expires 6/25/2016 </span>
                                        </div>
                                    </div>
                                    <div class="saved-coupon clearfix">
                                        <div class="store-$!{domainName}thumb">
                                            <a href="single_store.html" class="">
                                                <img src="$!{domainName}thumb/stores/nature.png" alt="">
                                            </a>
                                        </div>
                                        <div class="coupon-text">
                                            <a href="single_store.html">Outlet: Up To 70% Off Thousands Of Items</a>
                                            <span class="exp-text">Expires 6/25/2016 </span>
                                        </div>
                                    </div>
                                    <div class="saved-coupon clearfix">
                                        <div class="store-$!{domainName}thumb">
                                            <a href="single_store.html" class="">
                                                <img src="$!{domainName}thumb/stores/starlight.png" alt="">
                                            </a>
                                        </div>
                                        <div class="coupon-text">
                                            <a href="single_store.html">Extra 30% off when order online </a>
                                            <span class="exp-text">Expires 6/25/2016 </span>
                                        </div>
                                    </div>
                                </div>
                                <a class="more-links" href="#">See all your saved coupons <i class="angle right icon"></i></a>
                            </div>
                        </li>
                        <li class=""><a href="#"><i class="empty heart icon"></i> <span class="hide-tiny-screen">Favorites</span></a>
                            <div class="menu-box">
                                <h4 class="menu-box-title">Your Favorite Stores</h4>
                                <div class="ui two column grid">
                                    <div class="column">
                                        <div class="store-$!{domainName}thumb">
                                            <a href="single_store.html" class="ui image middle aligned">
                                                <img src="$!{domainName}thumb/stores/starlight.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="store-$!{domainName}thumb">
                                            <a href="single_store.html" class="ui image middle aligned">
                                                <img src="$!{domainName}thumb/stores/nature.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="store-$!{domainName}thumb">
                                            <a href="single_store.html" class="ui image middle aligned">
                                                <img src="$!{domainName}thumb/stores/udemy.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="store-$!{domainName}thumb">
                                            <a href="single_store.html" class="ui image middle aligned">
                                                <img src="$!{domainName}thumb/stores/vientohotel.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a class="more-links" href="#">See all your favorite stores <i class="angle right icon"></i></a>
                            </div>
                        </li>
                        <li class="menu-item-has-children"><a href="user_dashboard.html"><i class="power icon"></i> Dashboard</a>
                            <ul class="sub-menu">
                                <li><a href="#" class="stuser-login-btn">Sign In Form</a></li>
                                <li><a href="#" class="st-singup-btn">Register Form</a></li>
                                <li><a href="user_dashboard.html">Dashboard Page</a></li>
                                <li><a href="user_edit.html">Account Settings</a></li>
                                <li><a href="#">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>

                </div> <!-- END .nav_user_action -->
            </div> <!-- END .container -->
        </div> <!-- END #primary-navigation -->
    </header><!-- END #masthead -->
