<div id="content" class="site-content">
    <div id="content-wrap" class="container right-sidebar">
		#homeSlider()
		#featuredStores()

        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section id="store-listings-wrapper" class="wpb_content_element">
                    <h2 class="section-heading">Latest Coupon Codes and Deals</h2>
                    <div class="store-listings">
                    </div>						
            	</section>
            </main><!-- #main -->
        </div><!-- #primary -->

        <div id="secondary" class="widget-area sidebar">
			#newsletter()
			#popularStores()
			#popularCategories()
            #advertisement()
        </div><!-- #secondary -->
        #mostViewedCategories()
    </div> <!-- /#content-wrap -->
</div> <!-- END .site-content -->
