#macro (includeBootstrapJs)
	#if (!$BootstrapJsIncluded)
		#set ($BootstrapJsIncluded = true)
		<script type="text/javascript"  src="${contextPath}/js/bootstrap.min.js"></script>
	#end
#end

#macro (includeBootstrapCss)	
	#if (!$BootstrapCssIncluded)
		#set ($BootstrapCssIncluded = true)	
		<link rel="stylesheet" type="text/css" href="${contextPath}/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="${contextPath}/css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="${contextPath}/css/validationEngine.jquery.css">
		<link rel="stylesheet" type="text/css" href="${contextPath}/css/my.css">
	#end
#end

#macro (includeJQueryJs)	
	<script type="text/javascript" src="${contextPath}/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="${contextPath}/js/jquery.validationEngine.js"></script>
	<script type="text/javascript" src="${contextPath}/js/jquery.validationEngine-en.js"></script>
#end

#macro (includeUtilitiesJs)	
	#if (!$UtilitiesJsIncluded)
		#set ($UtilitiesJsIncluded = true)	
		<script type="text/javascript" src="${contextPath}/js/Hashtable.js"></script>
		<script type="text/javascript" src="${contextPath}/js/recaptcha_ajax.js"></script>
		<script type="text/javascript" src="${contextPath}/js/retina.js"></script>
	#end
#end

#macro (ajaxrequest $component $url $type $method)
	<script>
		$(document).ready(function(){
			$("${component}").click(function(){
				$.ajax({
					url: "${url}",
					type: "${type}",
					success: $method
				});
			});
		});
	</script>
#end

#macro (addReCaptch $div)
	Recaptcha.create("${captchaPublicKey}",
		"$div",
		{
		      theme: "clean",
		      callback: Recaptcha.focus_response_field
		}
	);
#end

#macro (newsletter)
    <aside class="widget widget_newsletter">
        <h4 class="widget-title">Don't miss another great deal!</h4>
        <div class="newsletter-box-wrapper shadow-box">
            <form id="newsletter-box-widget">
                <div class="ui action left icon input">
                    <input placeholder="Enter your email ..." type="text">
                    <i class="mail outline icon"></i>
                    <div class="ui button">Subscribe</div>
                </div>
                <!-- <div class="ui fluid icon input">
                    <input type="text" placeholder="Enter your email ...">
                    <i class="mail outline icon"></i>
                </div> -->
                <div class="clear"></div>
                <div class="newsletter-text">You can opt out of our newsletters at any time. See our <a href="#">privacy policy</a>.</div>
                <div class="sidebar-social">
                    <a class="ui circular icon button"><i class="facebook icon"></i></a>
                    <a class="ui circular icon button"><i class="twitter icon"></i></a>
                    <a class="ui circular icon button"><i class="linkedin icon"></i></a>
                    <a class="ui circular icon button"><i class="google plus icon"></i></a>
                    <a class="ui circular icon button"><i class="flickr icon"></i></a>
                    <a class="ui circular icon button"><i class="youtube play icon"></i></a>
                </div>
            </form>
        </div>
    </aside>
#end

#macro (popularStores)
    <aside class="widget widget_popular_stores">
        <h4 class="widget-title">Popular Stores</h4>
        <div class="widget-content shadow-box">
            <div class="ui two column grid">
                <div class="column">
                    <div class="store-thumb">
                        <a href="single_store.html" class="ui image middle aligned">
                            <img src="thumb/stores/religion.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div class="store-thumb">
                        <a href="single_store.html" class="ui image middle aligned">
                            <img src="thumb/stores/nature.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div class="store-thumb">
                        <a href="single_store.html" class="ui image middle aligned">
                            <img src="thumb/stores/starlight.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div class="store-thumb">
                        <a href="single_store.html" class="ui image middle aligned">
                            <img src="thumb/stores/vientohotel.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- <div class="column">
                    <div class="store-thumb">
                        <a href="single_store.html" class="ui image middle aligned">
                            <img src="thumb/stores/athleteform.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div class="store-thumb">
                        <a href="single_store.html" class="ui image middle aligned">
                            <img src="thumb/stores/scribble.png" alt="">
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </aside>
#end

#macro (popularCategories)
	<aside class="widget widget_categories">
        <h4 class="widget-title">Popular Categories</h4>
        <div class="widget-content shadow-box">
            <ul>
                <li><a href="category.html">Apparel</a></li>
                <li><a href="category.html">Accessories</a></li>
                <li><a href="category.html">Entertainment </a></li>
                <li><a href="category.html">Automotive</a></li>

                <li><a href="category.html">Personal Care</a></li>
                <li><a href="category.html">Books</a></li>
                <li><a href="category.html">Beverage</a></li>
                <li><a href="category.html">Business</a></li>
            </ul>
        </div>
    </aside>
#end

#macro (advertisement)
	<aside class="widget widget_text">
        <div class="ads-area">
            <div class="ui horizontal divider">Advertisement</div>
            <a href="#"><img src="assets/images/300.png" alt=""></a>
        </div>
    </aside>
#end

#macro (mostViewedCategories)
	<section class="list-categories-wrapper wpb_content_element" style="display:none">
        <h2 class="section-heading">Most viewed categories</h2>
        <div class="list-categories shadow-box">
            <ul class="clearfix">
                <li><a href="category.html"><span class="coupon-count">28</span>Apparel</a></li>
                <li><a href="category.html"><span class="coupon-count">12</span>Accessories</a></li>
                <li><a href="category.html"><span class="coupon-count">10</span>Entertainment </a></li>
                <li><a href="category.html"><span class="coupon-count">02</span>Automotive</a></li>

                <li><a href="category.html"><span class="coupon-count">11</span>Personal Care</a></li>
                <li><a href="category.html"><span class="coupon-count">15</span>Books</a></li>
                <li><a href="category.html"><span class="coupon-count">32</span>Beverage</a></li>
                <li><a href="category.html"><span class="coupon-count">22</span>Business</a></li>

                <li><a href="category.html"><span class="coupon-count">26</span>Foods</a></li>
                <li><a href="category.html"><span class="coupon-count">28</span>Groceries</a></li>
                <li><a href="category.html"><span class="coupon-count">88</span>Sports</a></li>
                <li><a href="category.html"><span class="coupon-count">66</span>Home & Garden </a></li>

                <li><a href="category.html"><span class="coupon-count">16</span>Education </a></li>
                <li><a href="category.html"><span class="coupon-count">28</span>Training</a></li>
                <li><a href="category.html"><span class="coupon-count">64</span>Electronics</a></li>
                <li><a href="category.html"><span class="coupon-count">16</span>Shoes</a></li>

            </ul>
        </div>
    </section>
#end

#macro (featuredStores)
	<section class="list-categories-wrapper wpb_content_element"  style="display:none">
        <h2 class="section-heading">Most viewed categories</h2>
        <div class="list-categories shadow-box">
            <ul class="clearfix">
                <li><a href="category.html"><span class="coupon-count">28</span>Apparel</a></li>
                <li><a href="category.html"><span class="coupon-count">12</span>Accessories</a></li>
                <li><a href="category.html"><span class="coupon-count">10</span>Entertainment </a></li>
                <li><a href="category.html"><span class="coupon-count">02</span>Automotive</a></li>

                <li><a href="category.html"><span class="coupon-count">11</span>Personal Care</a></li>
                <li><a href="category.html"><span class="coupon-count">15</span>Books</a></li>
                <li><a href="category.html"><span class="coupon-count">32</span>Beverage</a></li>
                <li><a href="category.html"><span class="coupon-count">22</span>Business</a></li>

                <li><a href="category.html"><span class="coupon-count">26</span>Foods</a></li>
                <li><a href="category.html"><span class="coupon-count">28</span>Groceries</a></li>
                <li><a href="category.html"><span class="coupon-count">88</span>Sports</a></li>
                <li><a href="category.html"><span class="coupon-count">66</span>Home & Garden </a></li>

                <li><a href="category.html"><span class="coupon-count">16</span>Education </a></li>
                <li><a href="category.html"><span class="coupon-count">28</span>Training</a></li>
                <li><a href="category.html"><span class="coupon-count">64</span>Electronics</a></li>
                <li><a href="category.html"><span class="coupon-count">16</span>Shoes</a></li>

            </ul>
        </div>
    </section>
#end

#macro (homeSlider)
    <div id="home-slider" class="wpb_content_element" style="display:none">
        <div class="home-slider-wrapper shadow-box">
            <div class="slideshow home-slider">
                <div class="slideshow_item">
                    <a href="#"><img src="thumb/slider/slider1.jpg" alt=""></a>
                </div>
                <div class="slideshow_item">
                    <a href="#"><img src="thumb/slider/slider2.png" alt=""></a>
                </div>
            </div><!-- END .slideshow -->
        </div><!-- END .home-slideshow-wrapper -->
    </div><!-- END #home-slider -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery(".slideshow").owlCarousel({
                navigation : true, // Show next and prev buttons
                navigationText : ['<img src="assets/images/arrow-left.png">','<img src="assets/images/arrow-right.png">'],
                //pagination : true,
                //paginationNumbers: true,
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem: true,
                autoPlay: true,
                stopOnHover: true
                // "singleItem:true" is a shortcut for:
                // items : 1,
                // itemsDesktop : false,
                // itemsDesktopSmall : false,
                // itemsTablet: false,
                // itemsMobile : false
            });
        });
    </script>
#end

#macro (submitStoreDeal)
    <aside class="widget">
        <h4 class="widget-title">Submit Nature Coupon</h4>
        <div class="widget-content shadow-box">
            <div class="ui form">
                <div class="field">
                    <input type="text" placeholder="Nature.com" disabled="disabled">
                </div>
                <div class="field">
                    <select class="ui dropdown">
                        <option value="">Offer Type</option>
                        <option value="1">Coupon Code</option>
                        <option value="2">Sale</option>
                        <option value="3">Printable</option>
                    </select>
                </div>
                <div class="field">
                    <label>Add code or change offer type</label>
                    <input type="text" placeholder="Code">
                </div>
                <div class="field">
                    <input type="text" placeholder="Offer Title">
                </div>
                <div class="field ui icon input">
                    <input type="text" placeholder="Exp Date : dd/mm/yyyy">
                    <i class="calendar outline icon"></i>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>Don't know the expiration date.</label>
                    </div>
                </div>
                <div class="field">
                    <textarea placeholder="Offer Description"></textarea>
                </div>
                <button class="fluid ui button btn btn_primary">Submit</button>
            </div>
        </div>
    </aside>
#end

#macro (subscribeStoreNewsletter)
    <aside class="widget">
        <h4 class="widget-title">Submit Nature Coupon</h4>
        <div class="widget-content shadow-box">
            <div class="ui form">
                <div class="field">
                    <input type="text" placeholder="Nature.com" disabled="disabled">
                </div>
                <div class="field">
                    <select class="ui dropdown">
                        <option value="">Offer Type</option>
                        <option value="1">Coupon Code</option>
                        <option value="2">Sale</option>
                        <option value="3">Printable</option>
                    </select>
                </div>
                <div class="field">
                    <label>Add code or change offer type</label>
                    <input type="text" placeholder="Code">
                </div>
                <div class="field">
                    <input type="text" placeholder="Offer Title">
                </div>
                <div class="field ui icon input">
                    <input type="text" placeholder="Exp Date : dd/mm/yyyy">
                    <i class="calendar outline icon"></i>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>Don't know the expiration date.</label>
                    </div>
                </div>
                <div class="field">
                    <textarea placeholder="Offer Description"></textarea>
                </div>
                <button class="fluid ui button btn btn_primary">Submit</button>
            </div>
        </div>
    </aside>
#end